Repository specture-system/specture: changes, and which pre-commit hooks are due for each by the changed paths.
All: check, validate-specs

check:
  name: Check code
  entry: just check
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-specs:
  name: Validate specs
  entry: go run . validate
  language: system
  pass_filenames: false
  stages:
  - pre-commit

feat: add deps and setup recipes to justfile
  justfile
Due: none

feat: implement validate command (#10)
  .pre-commit-config.yaml
  cmd/validate.go
  cmd/validate_test.go
  internal/validate/parser.go
  internal/validate/parser_test.go
  internal/validate/validator.go
  internal/validate/validator_test.go
  justfile
  specs/000-basic-cli.md
  specs/001-project-specific-approval-rules.md
  specs/003-distribution-and-deployment.md
Due: check, validate-specs

chore: update vendorHash
  flake.nix
  go.mod
  go.sum
Due: none

chore: add hook
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
Due: none

chore: add hook (#14)
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
Due: none

docs: pre-commit hooks
  .pre-commit-config.yaml
  README.md
Due: validate-specs

feat: only run on specs directory
  .pre-commit-hooks.yaml
  README.md
Due: validate-specs

chore: update rev
  .pre-commit-config.yaml
  README.md
Due: validate-specs

docs: spec for status command (#12)
  specs/003-status-command.md
Due: validate-specs

fix: typo in spec template ('ask' -> 'add')
  internal/templates/files/spec-template.md
Due: validate-specs

docs: add workflow assistance spec
  specs/004-workflow-assistance.md
Due: validate-specs

docs: add list command spec
  specs/005-list-command.md
Due: validate-specs

docs: add frontmatter numbering spec
  specs/006-frontmatter-numbering.md
Due: validate-specs

docs: update spec authors to Addison Emig
  specs/004-workflow-assistance.md
  specs/005-list-command.md
  specs/006-frontmatter-numbering.md
Due: validate-specs

docs: renumber distribution spec to 007
  specs/007-distribution-and-deployment.md
Due: validate-specs

docs: improve CLI (#15)
  internal/templates/files/spec-template.md
  specs/004-workflow-assistance.md
  specs/005-list-command.md
  specs/006-frontmatter-numbering.md
  specs/007-distribution-and-deployment.md
Due: validate-specs

docs: flesh out task lists for status and list command specs
  specs/003-status-command.md
  specs/005-list-command.md
Due: validate-specs

docs: add approval date
  specs/003-status-command.md
Due: validate-specs

docs: update status
  specs/003-status-command.md
Due: validate-specs

docs: flesh out task lists for status and list command specs (#16)
  specs/003-status-command.md
  specs/005-list-command.md
Due: validate-specs

feat: create SpecInfo and Task structs in internal/spec package
  internal/spec/spec.go
  specs/003-status-command.md
Due: check, validate-specs

refactor: move FindAll and ResolvePath to internal/spec, update cmd/validate.go
  cmd/validate.go
  cmd/validate_test.go
  internal/spec/spec.go
  specs/003-status-command.md
Due: check, validate-specs

feat: implement Parse, ParseAll, FindCurrent with task extraction and status inference
  internal/spec/spec.go
  specs/003-status-command.md
Due: check, validate-specs

feat: add status command with text and JSON output
  cmd/root.go
  cmd/status.go
  specs/003-status-command.md
Due: check, validate-specs

test: add comprehensive tests for internal/spec package
  internal/spec/spec_test.go
  specs/003-status-command.md
Due: check, validate-specs

refactor: document relationship between validate and spec parsers
  internal/validate/parser.go
  specs/003-status-command.md
Due: check, validate-specs

test: add tests for status command
  cmd/status.go
  cmd/status_test.go
  cmd/validate.go
  specs/003-status-command.md
Due: check, validate-specs

refactor: rename just fmt recipe to format
  AGENTS.md
  justfile
Due: validate-specs

feat: status command (#17)
  AGENTS.md
  cmd/root.go
  cmd/status.go
  cmd/status_test.go
  cmd/validate.go
  cmd/validate_test.go
  internal/spec/spec.go
  internal/spec/spec_test.go
  internal/validate/parser.go
  justfile
  specs/003-status-command.md
Due: check, validate-specs

docs: mark spec 003-status-command as completed
  specs/003-status-command.md
Due: validate-specs

docs: redesign spec 004 around agent skills approach
  specs/004-workflow-assistance.md
Due: validate-specs

docs: restructure spec 004 task list for red/green TDD
  specs/004-workflow-assistance.md
Due: validate-specs

docs: rename skill from specture-workflow to specture
  specs/004-workflow-assistance.md
Due: validate-specs

docs: remove redundant TDD annotations from task list
  specs/004-workflow-assistance.md
Due: validate-specs

docs: simplify task list to deliverables, remove TDD prefixes
  specs/004-workflow-assistance.md
Due: validate-specs

docs: remove TDD annotation from skill content section
  specs/004-workflow-assistance.md
Due: validate-specs

docs: remove inferring in-progress status section
  specs/004-workflow-assistance.md
Due: validate-specs

docs: specify skill description in task list
  specs/004-workflow-assistance.md
Due: validate-specs

docs: approve spec 004-workflow-assistance
  specs/004-workflow-assistance.md
Due: validate-specs

docs: skill and CLI help both contain workflow info
  specs/004-workflow-assistance.md
Due: validate-specs

Path conditions:
  check: any of: \.go$
  validate-specs: any of: \.(md|markdown|mdown)$
